<%- include('partials/head') %>

  <ul id="messages"></ul>
  <form action="">
    <input id="m" autocomplete="off" /><input id="send" type="submit" value="find">
  </form>

  <%- include('partials/footer') %>