<%- include('partials/head') %>
  <div id="nameSelector">
    <form class="username" action="">
      <input id="u" autocomplete="off" /><input id="send" type="submit" value="set username">
    </form>
  </div>
  <div>
    <section id="eventSection">
      <ul id="events"></ul>
    </section>
    <section id="chatSection">
      <ul id="messages"></ul>

      <form class="message" action="">
        <input id="m" autocomplete="off" /><input id="send" type="submit" value="send">
      </form>
    </section>
  </div>


  </main>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/client.js"></script>