@import "reset.css";

body {
  font: 13px Helvetica, Arial;
  background: #f7e6c4;
  background-image: url("SR.jpg");
  font-family: 'Tinos', serif;
}


.teamOrderTitle{
  color: blue;
  width: 30%;
  font-size: 1.5em;
  text-align: center;
  height: 15%;
  padding-top: 30px;
}

.teamChaosTitle{
  color: red;
  width: 30%;
  font-size: 1.5em;
  text-align: center;
  height: 15%;
  padding-top: 30px;
}

.eventTitle{
  font-size: 1.5em;
  width: 40%;
  height: 15%;
  padding-top: 30px;
  text-align: center;
}

#championKills{
  width: 20%;
  height: 78%;
  overflow: scroll;
  overflow-x: hidden;
}

#championKills article {
  text-align: center;
}

#championKills article p:nth-of-type(odd){
 font-size: 1.2em;
}

#championKills article p:nth-of-type(even){
 color: grey;
}

#events li{
  font-size: 1.2em;
}

#eventSection {
  flex-wrap: wrap;
  display: flex;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding-top: 2px;
}

#events {
  width: 20%;
  height: 78%;
  text-align: center;
  overflow: scroll;
  overflow: hidden;
}

#teamChaos {
  flex-wrap: wrap;
  width: 30%;
  height: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#teamOrder {
  flex-wrap: wrap;
  width: 30%;
  text-align: center;
  display: flex;
  justify-content:center;
  flex-direction: column;
}

#teamChaos img, #teamOrder img{
  height: 60px;
  width: 30% !important;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
  border: solid 1px white;
}

#teamChaos article, #teamOrder article{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0.5%;
}

#teamChaos article:nth-of-type(1), #teamOrder article:nth-of-type(1){
  border-radius: 5px 0px 0px 5px;
}

#teamChaos article:last-of-type, #teamOrder article:last-of-type{
  border-radius: 0px 5px 5px 0px;
}

#teamChaos article p, #teamOrder article p{
  width: 35%;
  padding-top: 20px;
  color: black;
  border-radius: 0px 0px 6px 6px;
}


#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
  height: 30%;
}

#messages li {
  padding: 5px 10px;
  height: 20px;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 1px 2px #888888;
  margin: 6px;
  background: #ededed;
  text-align: right;
 }

.other{
  box-shadow: 1px 2px #888888 !important;
  background: #e0ecc7 !important;
  text-align: left !important;
 }

 #myMessage {
   background: white !important;
 }

#nameSelector{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f7e6c4;
  z-index: 1;
}

.dead{
  opacity: 0.3;
}

.championScore{
  font-size: 1.5em
}

form.message {
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form.username {
  text-align: center;
  padding: 3px;
  bottom: 0;
  width: 40%;
  margin-left: 30%;
  margin-top: 30%;
}

form input {
  border: 0;
  padding: 10px;
  width: 70%;
  margin-right: .5%;
}

input#m, input#u{
  border-radius: 10px 0px 0px 10px;
}

.yellow {
  color: yellow;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.huge{
  font-size: 3em;
}

.error{
  color: white;
  font-weight:bold;
  background: red !important;
}

#send {
  color: white;
  width: 29%;
  background: #a7af95;
  border: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 2px #888888;
  border-radius: 0px 10px 10px 0px;
}

.hidden{
  display:none;
}
